.Game{
    background-color: var(--neutral900);
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 20px;

    .GameContainer{
        width: 100%;
        height: 100%;
        max-width: 1800px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .GameHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100px;
            padding: 0 20px;
    
            .HeaderInfos{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
    
                .HeaderInfoPart{
                    display: flex;
                    gap: 20px;
                    align-items: center;
    
                    .StatsContent{
                        height: 40px;
                        display: flex;
                        gap: 10px;
                        align-content: center;
    
                        .StatText{
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
    
                        .StatImg{
                            width: 25px;
                            aspect-ratio: 1/1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            img{
                                width: 100%;
                                pointer-events: none;
                            }
                        }
    
                        .StatDetails{
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }

        .GameContent{
            overflow: auto;
            border-radius: 20px;
            width: 100%;
            flex-grow: 1;
            background-color: var(--neutral800);

            .GameMap{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 20px;

                .GameChoices{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }

}

.LeaveGamePopup{
    width: 500px;

    .LeaveGameContent{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}