.User {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  .UserContainer {
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .UserFormContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .UserInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    max-width: 900px;
    flex-wrap: wrap;

    .AccountInput {
      flex-grow: 1;
      flex-shrink: 0;
      min-width: 300px;
    }

    .AccountButton {
      width: 250px;
    }
  }

  .UserButtonsContainer {
    display: flex;
    gap: 20px;
  }
}

.EditPopup {
  width: 100%;
  max-width: 600px;

  .EditPopupContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
