.InputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  .InputTitle {
    width: 100%;
    display: flex;
    gap: 4px;
  }

  .InputContent {
    width: 100%;
    height: 50px;
    border: 2px solid var(--neutral700);
    border-radius: 10px;
    display: flex;
    position: relative;

    &.textarea {
      height: 200px;
    }

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    .searchIcon {
      height: 100%;
      padding: 5px;
      left: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.2s;

      img {
        height: 100%;
        pointer-events: none;
      }
    }

    input,
    textarea {
      width: 100%;
      height: 100%;
      -webkit-user-select: none; /* Safari, older Chrome/Opera */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
      border: none;
      background-color: transparent;
      font-size: 16px;
      font-family: 'Oxanium';
      color: white;
      font-weight: 400;
      text-decoration: none;
      border-radius: 5px;
      padding: 0 20px;
      transition: all 0.1s;

      &:focus {
        outline: none;
      }
    }

    textarea {
      resize: none;
      padding: 10px 20px;
    }

    &.search {
      input {
        margin-left: 30px;
        transition: all 0.3s;

        &:focus {
          margin: 0;
        }

        &:focus ~ .searchIcon {
          display: none;
        }
      }
    }
  }

  .InputLabel {
    width: 100%;
  }

  &.error {
    .InputContent {
      border-color: var(--error);
    }
  }
}

@media screen and (max-width: 1024px) {
  .InputContainer {
    .InputContent {
      input,
      textarea {
        font-size: 14px;
      }
    }
  }
}
