.LoaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--neutral900);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  .LoaderContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    .LoaderImg {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        pointer-events: none;
        animation: spin 2s linear infinite;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
