.PopupContent {
  width: 100%;
  background-color: var(--neutral800);
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .PopupContentHeader {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }

  .PopupContentChildren {
    padding: 20px;
  }

  .PopupContentButtons {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: var(--neutral700);
  }
}
