.Popup{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: .6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 0;

  &.open{
    z-index: 1000;
    display: flex;
  }

  .PopupContent{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}